.cta {
  position: relative;
  margin: 0 44px 14px;
  display: grid;
  grid-template-columns: 180px 1fr 245px 330px;
  gap: 18px;
  align-items: center;
  border: 1px solid #77aa35;
  border-radius: 23px;
  background: linear-gradient(90deg, #123c0d, #507d16 48%, #0a230e);
  padding: 9px 20px;
  overflow: hidden;
}
.cta:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.05),
    rgba(255, 255, 255, 0.08),
    rgba(0, 0, 0, 0.1)
  );
}
.cta > * {
  position: relative;
}
.basket {
  width: 170px;
  filter: drop-shadow(0 8px 13px #000);
}
.cta h2 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.cta span {
  font-size: 17px;
}
.cta-btn {
  font-size: 20px;
  padding: 17px 33px;
}
.lake {
  width: 340px;
  height: 78px;
  object-fit: cover;
  border-radius: 18px;
  opacity: 0.9;
}
@media (max-width: 980px) {
  .cta {
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .lake {
    width: 100%;
    height: auto;
  }
  .basket {
    width: 160px;
  }
}
@media (min-width: 1600px) {
  .cta {
    grid-template-columns: 220px 1fr 300px 420px;
    padding: 20px 40px;
  }
  .lake {
    width: 100%;
    height: 110px;
  }
}
